PORT=8000
MONGO_URL=db url
NODE_ENV=development
JWT_SECRET=secret key
JWT_EXPIRY=secret time
FRONTEND_URL=httP://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_USER=your email
SMTP_PASS=your app password

MISTRAL_API_KEY = your mistral api key